<div class="container">

  <a ui-sref="tiposEquiposCreate" class="btn btn-primary">Crear</a>
  <md-table-container>
    <table md-table>
      <thead md-head>
        <tr md-row>
          <th md-colum>
            ID TIPO EQUIPO
          </th>
          <th md-colum>
            DESCRIPCIÓN
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="tipo in vm.tiposEquipos | limitTo: vm.query.limit: (vm.query.page - 1) * vm.query.limit">
          <td md-cell>{{tipo.idTipoEquipo}}</td>
          <td md-cell>{{tipo.descripcion}}</td>
          <td md-cell>
            <div class="lock-size" layout="row" layout-align="center center">
              <md-button ui-sref="tiposEquiposEdit({id: tipo.idTipoEquipo})" class="md-icon-button" aria-label="Editar">
                <md-icon md-font-icon="fa-pencil" class="fa md-primary"/>
              </md-button>
              <md-button ng-click="vm.showConfirm($event, tipo)" class="md-icon-button" aria-label="Eliminar">
                <md-icon md-font-icon="fa-trash-o" class="fa md-primary"/>
              </md-button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination ng-show="vm.tiposEquipos.length > 0" md-limit="vm.query.limit" md-limit-options="[5, 10, 20, 50]" md-page="vm.query.page" md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}" md-total="{{vm.tiposEquipos.length}}"></md-table-pagination>


</div>
