<h1 class="text-center">Lista de empresas</h1>
<div class="container center-block row">
<div class="col-sm-3">
</div>
<div class="col-sm-6">
<table class='table table-striped table-bordered table-hover table-condensed'>
  <thead>
    <tr>
      <th class="text-center">Nombre</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="empresa in vm.empresas">

      <td>{{empresa.nombre}}</td>

    </tr>
  </tbody>
</table>
</div>
<div class="col-sm-3">
</div>
</div>
