
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="center-block" src="../images/1.jpg" alt="Mantenimiento">
    </div>

    <div class="item">
      <img class="center-block" src="../images/2.jpg" alt="Mantenimiento">
    </div>

    <div class="item">
      <img class="center-block" src="../images/3.jpg" alt="Mantenimiento">
    </div>

    <div class="item">
      <img class="center-block" src="../images/4.jpg" alt="Mantenimiento">
    </div>

    <div class="item">
      <img class="center-block" src="../images/5.jpg" alt="Mantenimiento">
    </div>

    <div class="item">
      <img class="center-block" src="../images/6.jpg" alt="Flower">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
