<div class="container" ng-cloak>
  <md-content layout-padding>
    <form name="tiposEquiposCreateForm">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Descripción</label>
        <input type="text" ng-model="vm.selected.descripcion">
      </md-input-container>
      <section layout="row" layout-sm="column"
               layout-align="center center" layout-wrap>
        <md-button class="md-raised md-primary" ng-click="vm.create()">
          Guardar
        </md-button>
        <md-button ui-sref="tiposEquipos" class="md-raised md-primary">
          Regresar
        </md-button>
      </section>
    </form>
  </md-content>
</div>
